@using Microsoft.AspNetCore.Identity
@inject SignInManager<Applicationuser> signinmanger

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_layoutpage</title>

    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />


    <script type="text/javascript" src="~/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @RenderSection("head", false)
    <style>

        #s {
            font-size: 30px;
            font-family: emoji;
            margin-left: 475px;
            font-weight: bold;
        }
    </style>


</head>
<body>
    <div class=" container-fluid">

        <div class="row">
            <div class="col-xs-12">
                <nav class="navbar-inverse">
                    <div class="navbar-brand">

                        HR System

                    </div>
                    <div class="navbar-header">


                        <button type="button" class="navbar-toggle" data-target="#menu1" data-toggle="collaps">

                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>

                    </div>
                    <div id="menu1" class="navbar-collapse collapse">

                        <ul class="nav navbar-nav">
                           
                            @if (signinmanger.IsSignedIn(User)) 
                            {
                            <li>
                                <a asp-controller="department" asp-action="Index"> New Department </a>
                            </li>
                            <li>
                                <a asp-controller="department" asp-action="deptsearch"> Department list   </a>
                            </li>
                            <li>
                                <a asp-controller="employee" asp-action="Index"> New Employee </a>
                            </li>
                            <li>
                                <a asp-controller="employee" asp-action="empsearch">Employee list </a>
                            </li>
                            <li>
                                <a asp-controller="country" asp-action="Index"> New Country   </a>
                            </li>
                            <li>
                                <a asp-controller="country" asp-action="countrysearch"> list Country </a>
                            </li>
                            <li>
                                <a asp-controller="city" asp-action="Index">New City   </a>
                            </li>
                            <li>
                                <a asp-controller="city" asp-action="citysearch"> List City </a>
                            </li>

                            <li>
                                <a asp-controller="Account" asp-action="newrole"> Newrole </a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="getusers"> GetUsers </a>
                            </li>
                            }
                        </ul>

                        <ul class=" nav navbar-nav navbar-right">
                            @if (signinmanger.IsSignedIn(User))
                            {
                                <li style="color:white">

                                    @User.Identity.Name

                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Logout"><span class="glyphicon glyphicon-log-out"> logout</span></a>

                                </li>
                            }
                            else
                            {

                                <li>
                                    <a asp-controller="Account" asp-action="signin"> <span class="glyphicon glyphicon-log-in" > login</span> </a>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="CreateAccount"> <span class="glyphicon glyphicon-user"> CreateAccount</span> </a>
                                </li>
                            }

                        </ul>





                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

                @RenderSection("body")
            </div>
        </div>

    </div>




</body>
</html>
