
@{
    Layout = "~/views/shared/layoutpage.cshtml"; ;
}

@section body


{

    <div class="container" style="width: 975px; position: fixed; margin-top: 20px;">
        <div class=" row" style="margin-top:20px">

           <div>
               <h4> dashboard  </h4>


           </div>
        </div>

        </div>

    }
