@model List<country>

@{
    Layout = "~/views/shared/layoutpage.cshtml";
}


@section body

{

    <form method="post">
        <span  id="s"> Welcome To HR System </span>
        <div class="container" style="margin-top:20px  ; width: 975px; position: fixed; ;">
            <div class=" row">

                <div class="col-xs-1">

                    <span> Name</span>

                </div>
                <div class="col-xs-4">

                    <input type="text" name="txtname" />

                </div>

                <div class="col-xs-2">

                    <input type="submit" value="search" class="btn btn-primary" asp-action="search" />

                </div>

            </div>



            <div class="row" style="margin-top:20px">

                <table class=" table  table-hover ">
                    <thead>

                        <tr>
                            <th> id</th>
                            <th> name </th>
                            <th> code</th>


                        </tr>

                    </thead>
                    <tbody>

                        @foreach (country item in Model)
                        {
                            <tr>

                                <th>@item.id </th>
                                <th>@item.name </th>
                                <th>@item.code </th>
                            </tr>
                        }


                    </tbody>

                </table>




            </div>




        </div>
    </form>
}

