@model country
@{
    Layout = "~/views/shared/layoutpage.cshtml";
}

@section Body


{

    <form method="post">
       
            <span id="s"> Welcome To HR System </span>
        
        <div class="container" style="width: 975px; position: fixed; margin-top: 20px;">
            <div class=" row" style="margin-top:10px">

                <div class="col-xs-1">

                    <span> name</span>

                </div>
                <div class="col-xs-4">

                    <input type="text" asp-for="name" />

                </div>


                <div class="col-xs-1">

                    <span> code </span>

                </div>
                <div class="col-xs-4">

                    <input type="text" asp-for="code" />

                </div>

            </div>

            <div class=" row" style="margin-top:10px">

                <div class="col-xs-3" style="text-align:right; margin-left: 450px;">

                    <input type="submit" value="save" class="btn btn-primary" asp-action="save" />

                </div>



            </div>
        </div>
    </form>




}