@model List<Applicationuser>

@{

    Layout = "~/views/shared/layoutpage.cshtml";
}
@section body
{
    
        <span id="s"> Welcome To HR System </span>
        <div class="container" style=" width: 975px; position: fixed; margin-top: 20px;">
            <div class=" row" style="margin-top:20px">
                <table class="table table-hover">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actions</th>

                        </tr>

                    </thead>
                    <tbody>
                        @foreach (Applicationuser item in Model)
                        {
                            <tr>

                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>
                                    <a class="btn btn-primary" asp-action="usersrole" asp-route-userid="@item.Id" asp-route-name="@item.Name"> Add Role</a>
                                </td>
                            </tr>
                        }
                    </tbody>






                </table>
                </div>

            </div>


}
